body {
  font-size: .95em;
  -webkit-print-color-adjust: exact;
}

a[href]:after {
  content: none !important;
}
h2{color:#0292cd !important;}

.fa{color:#0292cd !important;}

#photo{
  display: none;
}

.box {
  margin-bottom: -10px;
}

blockquote,
#education,
#awards,
.contact-item,
.publication,
.skills,
.interests {
  page-break-inside: avoid;
}

.col-sm-5{
  width: 40%;
  padding: 0 15px;
}

.col-sm-7{
  width: 60%;
  padding: 0 15px;
}

.skills .col-sm-offset-1,
.interests .col-sm-offset-1{
  margin-top: -10px;
  margin-bottom: 5px;
}

#education {
  margin: 0;
  margin-bottom: -20px;
}

#awards .description,
#education .description,
.job .details {
  border: 1px solid #eee;
}


.badge {
background:#9acb38 !important;
color:#fff !important;
 
}

 
 .skill-level {
    background-color: #0292cd !important;
    color: #fff !important;
}

.interest, .skill {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #9acb38;
    position: relative;
    font-size: .85em;
}
